<section class="container-fluid">
  <div class="container mx-auto d-flex align-items-center justify-content-center flex-wrap">
    {{#if errMessage}}
    <section class="rounded col-12 border bg-warning my-2 p-2">
      <p class="text-center lead">{{ errMessage }}</p>
    </section>
    {{/if}}
    <form action="/register" method="POST">
      <h1>Register</h1>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required class="form-control">
      </div>
      <div class="form-group">
        <label for="name">First Name:</label>
        <input type="text" id="name" name="firstName" required class="form-control">
      </div>
      <div class="form-group">
        <label for="name">Last Name:</label>
        <input type="text" id="name" name="lastName" required class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Create Password:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" pattern=".{8,}" title="Password must have at least 8 characters">
      </div>
      <div class="form-group">
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" class="form-control" id="confirm_password" placeholder="Password" oninput="checkPasswordMatch()">
      </div>
      <div class="form-group">
        <select name="role" id="role" class="form-select">
          <option value="student">Student</option>
          <option value="instructor">Instructor</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-dark">Register</button>
      </div>
    </form>
  </div>
</section>
<div id="message"></div>
<script>
  function checkPasswordMatch() {
    var password = document.getElementById("password");
    var confirm_password = document.getElementById("confirm_password");
    var message = document.getElementById("message");
    if(password.value == confirm_password.value) {
      confirm_password.style.backgroundColor = "#66cc66";
      message.style.color = "#66cc66";
      message.innerHTML = "Passwords match!";
    } else {
      confirm_password.style.backgroundColor = "#ff6666" ;
      message.style.color = "#f2f2f2";
      message.innerHTML = "Passwords don't match!";
    }
  }
</script>


